<main class="contenedor">
    <form class="default-form" method="POST">
        <div class="campo">
            <label>Nuevo password</label>
                <input type="password" name="password" placeholder="Tu password">
        </div>
        <div class="campo">
            <input type="submit" value="Guardar password" class="btn btn-azul">
        </div>
    </form>
</main>