<main class="contenedor">
    <form action="/reestablecer-password" class="default-form" method="POST">
    <div class="campo">
            <label>Email</label>
                <input type="email" name="email" placeholder="Tu email">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer password" class="btn btn-azul">
        </div>
    </form>
</main>